body {
	padding: 15px;
}

#wCast_list {
	width: 100%;
	position: relative;
	float: left;
	&.weather_col_10 {
		.weather_day {
			width: calc(100%/5);
		}		
	}	
	.weather_day {
		width: calc(100%/7);
		position: relative;
		float: left;
		padding: 0 15px;
		margin-bottom: 16px;
		box-sizing: border-box;
	}
}