@import 'fonts';

html,
body {
	line-height:1.2;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	background: #42cec5;
	@media only screen and (max-width : 480px) {
		font-size: 1.1rem;
	}
}

/* apply a natural box layout model to all elements */
*, *:before, *:after {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}
button {
	padding: 0.5rem;
	color: #fff;
	background: #42cec5;
	border: 0;
	outline: 0;
}
input[type="text"] {
	padding: 0.4rem;
	box-sizing: border-box;
}
input[type=checkbox], input[type=radio] {
	appearance: none;
  -webkit-appearance: none;
	box-shadow: inset 0px 0px 0px 1px #e6e6e6;
	border-radius: 15px;
	background-color: #fff;
	padding: 1px;
	display: inline-block;
	width: 52px;
	height: 31px;
	position: relative;
	cursor: pointer;
	transition: all .3s ease-out;
	margin: 0px;
  transform: scale(1);
  -webkit-transform: scale(1); /* Adjust size here */
  outline: 0;
}
input[type=checkbox]:checked, input[type=radio]:checked {
	box-shadow: inset 0px 0px 0px 20px #53d76a;
}
input[type=checkbox]:after, input[type=radio]:after {
	content: '';
	position: absolute;
	width: 29px;
	height: 29px;
	border-radius: 15px;
	box-shadow: 0px 2px 2px 1px rgba(0,0,0,.2);
	cursor: pointer;
	background-color: #fff;
	transition: all 0.1s ease-in .1s;
}
input[type="checkbox"]:checked:after,input[type="radio"]:checked:after {
	left: 22px;
}
* {
	font-size: 1rem;
}

#overlay {
	width: 100%; height: 100%;
	position: fixed;
	top: 0; left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 10;
	display: none;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 1rem 0;
	font-weight: 100;
}

h1 {font-size: 3rem;}
h2 {font-size: 2.75rem;}
h3 {font-size: 2.5rem;}
h4 {font-size: 2.25rem;}
h5 {font-size: 2rem;}
h6 {font-size: 1.75rem;}
strong {font-size: 1rem;}
p {font-size: 1rem;}
a {color: #fff;}

#page_header {
	z-index: 100;
	&.zindex {
		z-index: 0;
	}
	h1 {
		margin-bottom: 3rem;
	}
	.icon {
		display: none;
	}
	@media only screen and (max-width : 480px) {
		top: 0; left: 0;
		width: 100%;
		padding-bottom: 1rem;
		position: fixed;
		h1 {
			padding: 1rem 0 0.9rem 0;
			width: 100%;
			color: #333;
			font-size: 1.2rem;
			margin-bottom: 0;
			background-color: #fff;
		}
		.location {
			display: inline-block;
			width: 100%;
			padding: 0.6rem 0;
			background: #333;
			h4 {
				font-size: 1.1rem;
				margin-bottom: 0;
				display: inline;
			}
			.icon {
				display: inline;
				color: #fff;
				padding: 0.4rem;
				font-size: 1.2rem;
			}
		}
	}
}
#header {
	width: 100%;
	position: fixed;
	bottom: 0; left: 0;
	nav {
		position: relative;
		float: left;
		width: 100%;
		background: #333;
		ul {
			width: 100%;
			position: relative;
			float: left;
			padding: 0 0 0 0;
			margin: 0 0 0 0;
		}
		li {
			display: inline-block;
			position: relative;
			float: left;
			padding: 1.5rem 1rem;
			box-sizing: border-box;
			@media only screen and (max-width : 770px) {
				padding: 0.75rem 1rem;
			}
			&#showSettings {
				cursor: pointer;
			}
			.iconicfill-equalizer {
				&:before {
					margin-right: 0.5rem;
					@media only screen and (max-width : 770px) {
						font-size: 1.75rem;
						margin-right: 0;
					}
				}
			}
			&#develop,
			&#github,
			.text {
				@media only screen and (max-width : 770px) {
					display: none;
				}
			}
			&#github {
				a {
					text-decoration: none;
				}
			}
		}		
	}
}

.wCast_form {
	width: 250px; height: 244px;
	position: fixed;
	top: 50%; left: 50%;
	margin-top: -122px;
	margin-left: -115px;
	box-sizing: border-box;
	padding: 3rem 1rem 1rem 1rem;
	background: #000;
	z-index: 100;
	@media only screen and (max-width : 480px) {
		width: 100%;
		margin-left: 0;
		left: 0;
		top: 0;
		margin-top: 0;
		height: 100%;
	}
	label {
		display: block;
	}
	#weather_city {
		display: block;
		margin-right: 0;
		width: 100%;
	}
	div {
		width: 100%;
		position: relative;
		float: left;
		&.metric_row {
			display: none;
		}
		label {
			padding: 1rem;
			box-sizing: border-box;
		}
		@media only screen and (max-width : 480px) {
			button {
				padding: 0.9rem;
				font-size: 1.5rem;
			}
		}
	}
	.days_row {
		label {
			width: 50%;
			position: relative;
			float: left;
			cursor: pointer;
		}
	}
	#closeForm {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 1.5rem;
		width: 3rem;
		height: 3rem;
		display: block;
		text-align: center;
		line-height: 2.7rem;
		cursor: pointer;
	}
	#updateWeather {
		width: 100%;
		display: block;
	}
}
.wCast_wrapper {
	padding: 1rem 1rem 6rem 1rem;
	text-align: center;
	width: 100%;
	position: relative;
	float: left;
	box-sizing: border-box;
	padding-bottom: 6rem;
	@media only screen and (max-width : 480px) {
		padding: 6rem 1rem 4rem 1rem;
	}
}

#wCast_list {
	width: 100%;
	position: relative;
	float: left;
	.weather_day {
		width: 25%;
		position: relative;
		float: left;
		padding: 1rem 1rem 1.8rem 1rem;
		margin-bottom: 16px;
		box-sizing: border-box;
		-webkit-transition: 0.5s ease;
		// border: 1px solid #fff;
		@media only screen and (min-width : 1280px) {
			&:hover {
				-webkit-transform: scale(0.9);
				color: #42cec5;
				background: #fff;
				.weather_temp span {
					border-left-color: #42cec5;
				}
			}
		}
		@media only screen and (max-width : 1024px) {
			width: calc(100%/3);
			border-bottom: 1px solid #fff;
		}
		@media only screen and (max-width : 770px) {
			width: 50%;
		}
		@media only screen and (max-width : 480px) {
			width: 100%;
			&:last-child {
				border-bottom: 0;
			}
		}
		.wd_dayofweek,
		.wd_date,
		.wd_weather_icon,
		.wd_max_min_temp {
			width: 100%;
			position: relative;
			float: left;
			text-align: center;
		}
		.wd_dayofweek,
		.wd_date {
			@media only screen and (max-width : 480px) {
				width: 50%;
				box-sizing: border-box;
				padding: 0 0.2rem;
				h6 {
					margin-bottom: 0;
				}
			}
		}
		.wd_dayofweek {
			@media only screen and (max-width : 480px) {
				text-align: right;
			}
		}
		.wd_date {
			@media only screen and (max-width : 480px) {
				text-align: left;
			}
		}
		.wd_weather_icon {
			margin-bottom: 1rem;
		}
		.weather_icon,
		.weather_temp {		
			display: block;
			position: relative;
			float: left;
			padding: 2rem 0 1rem 0;
			box-sizing: border-box;
		}
		.weather_icon {		
			width: 55%;
			line-height: 145px;
		}
		.weather_temp {		
			width: 45%;
			.max_temp,
			.min_temp {
				width: 100%;
				box-sizing: border-box;
				display: block;
				text-align: left;
				font-weight: 100;
				padding: 0.5rem 0 0.5rem 1rem;
				border-left: 1px solid #fff;
			}
			.max_temp {
				font-size: 3rem;
			}
			.min_temp {
				font-size: 2rem;
			}
			.degree {
				font-size: 1.5rem;
			}
		}
		.weather_icon {
			text-align: center;		
		}
		.weather_desc {		
			text-align: center;
		}
		.weather_icon {
			font-size: 5.5rem;
			@media only screen and (max-width : 320px) {
				font-size: 4rem;
			}
		}
		.weather_desc {
			font-size: 1.5rem;
			&::first-letter {
				text-transform: uppercase;
			}
		}
		.wd_max_min_temp * {
			font-size: 1.5rem;
		}
		.min_temp {
			opacity: 0.7;
		}
	}
}
