
node_modules/
css/
build/
app/bower_components/angular
app/bower_components/angular-cookie
app/bower_components/angular-resource
app/bower_components/angular-route
app/bower_components/angular-sanitize
app/bower_components/bootstrap